html {
	width: fit-content;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(63, 63, 63);
	color: #ffffff;
	width: 100vw;
	font-family: Poppins;
}

header {
	background-color: black;
	width: 100%;
	height: 110px;
}

.header-container {
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.header-img {
	width: 100px;
	height: 100px;
	margin: 10px 0 0 40px;
}

.header-title p {
	font-size: 30px;
	font-family: Poppins;
}

.menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 300px;
}

.menu-container menu {
	display: flex;
	gap: 30px;
}

a {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	height: calc(100vh - 310px);
	width: 60vw;
}

h3 {
	font-family: Dancing Script;
	font-size: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 35px;
}

.about-text {
	width: 100%;
	text-align: justify;
	font-size: 20px;
	line-height: 1.8;
}

footer {
	background-color: black;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

footer > .contact-container {
	font-size: 40px;
}
