body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    margin: 30px;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-title > h1 {
    font-family: Dancing Script;
    font-size: 100px;
}

.header-title > p {
    font-size: 30px;
    font-family: Poppins;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
}
section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Dancing Script;
    border-bottom: 1px solid #ccc; 
    margin-bottom: 10px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #ccc; 
    margin-bottom: 10px;

}

li > h3 {
        margin-bottom: 0;
}

li > p {
    font-size: 12px;
}

img {
    width: 350px;
    height: 300px;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}